// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
body{
  z-index:0;
}
.editor-background {
  &atom-workspace{
    z-index: 2;
  }
  atom-pane{
    background:transparent !important;
  }
  atom-text-editor{
    background: transparent !important;
  }
  atom-text-editor::shadow{
    .lines{
      background:transparent !important;
    }
    .gutter{
      background:transparent !important;
    }
  }

}

.eb-modal-window{
  position:absolute;
  background: @app-background-color;
  color: @text-color;
  border:1px solid @base-border-color;
  min-width: 300px;
  left:0px;
  top:0px;
  opacity:1;
  display:none;
  z-index:999;
  text-align:center;
  #working{
    float:left;
  }
  .wrapper{
    position: relative;
  }
  .title{
    background:@tab-background-color-active;
    border-bottom:1px solid @base-border-color;
    padding:10px;
  }
  .close{
    float: right;
    padding: 4px;
    margin: 0px 4px 0px 10px;
    line-height: 1.3;
  }
  .content{
    padding:10px;
  }
  .buttons{
    position:relative;
    bottom:0px;
    margin-top:13px;
    padding:10px;
    border-top:1px solid @base-border-color;
    text-align:right;
  }
  input{
    background:@tab-background-color-active;
    border:1px solid @base-border-color;
    color:@text-color;
    padding:4px;
    border-radius:3px;
    margin:2px;
  }
}


#editor-background-config{

  .config-content {
    background: transparent;
    position: relative;
    clear: both;
  }

  .tab-content{
    display:none;
    padding:10px;
    &.active{
      display:block;
      border:1px solid @tab-border-color;
    }
  }

  .tab{
    display:block;
    float:left;
    padding:4px 10px;
    cursor:pointer;
    border: 1px solid @tab-border-color;
    border-bottom:none;
    &.active{
      font-weight:bold;
      position:relative;
      &:after{
        content:'';
        position:absolute;
        width:100%;
        height:2px;
        background:@background-color-error;
        z-index:1;
        left:0;
        bottom:-2px;
      }
    }
  }

  .config-tabs{
    overflow:visible;
    border-collapse: collapse;
  }

}
